<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{{name}}, Welcome to MultiVote</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <div
      style="
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: rgb(250, 237, 237);
        color: rgb(24, 16, 16);
        margin: 0 auto;
        padding: 20px 30px;
        border-radius: 8px;
        font-size: 18px;
        text-align: center;
        max-width: 550px;
      "
    >
      <h1 style='color: #22201e;text-decoration:capitalize;'>Hi {{name}}!</h1>
      <p>
        We're happy you signed up for college voting 2022 🚀. Please use the following passcode to continue voting.
      </p>

      <div style='margin-top:10px;'>Passcode: <b>{{passcode}}</b></div>
      <div
        style='
          margin-top: 50px;
          color: #22201e;
          font-weight: semibold;
        '
      >
        <p style='margin: 0'>Welcome to College Vote 2022!</p>
        <div style='font-size: 14px; margin-top: 10px'>
          <small>If you recieved this email without signing up or requesting it,
            please ignore it!</small><br />
        </div>
      </div>
    </div>
  </body>
</html>