<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{{name}}, Update email</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <div
      style="
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #222;
        color: white;
        margin: 0 auto;
        padding: 20px 30px;
        border-radius: 8px;
        font-size: 18px;
        text-align: center;
        max-width: 500px;
      "
    >
      <img
        src='https://res.cloudinary.com/voting-cloud/image/upload/v1623969626/logo_ltvxii.png'
        alt='logo'
        height='80px'
        width='80px'
      />
      <h1 style='color: #fb7200'>Hi {{name}}!</h1>
      <p>
        We're happy you signed up to voting 🚀. Before you continue
        exploring the amazing services we offer, please confirm your email
        address by clicking the button below.
      </p>
      <a
        href='{{link}}'
        style='
          display: inline-block;
          padding: 10px 20px;
          text-decoration: none;
          color: white;
          background: linear-gradient(90deg, #fb7200 17%, #feac00 100%);
          font-weight: bold;
          border-radius: 5px;
        '
      >Verify Email</a>
      <div
        style='
          margin-top: 50px;
          color: rgba(225, 225, 225, 0.8);
          font-weight: semibold;
        '
      >
        <p style='margin: 0'>Welcome to voting!</p>
        <p style='margin: 0'>The voting Team</p>
        <div style='font-size: 14px; margin-top: 10px'>
          <small>If you recieved this email without signing up or requesting it,
            please ignore it!</small><br />
          <small>This confirmation link will expire in 24 hours.</small>
        </div>
      </div>
    </div>
  </body>
</html>